.bookmark-excerpt {
  position: relative;
  display: block;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  .favicon {
    position: absolute;
    left: -32px;
    top: 6px;
    display: block;
    width: 16px;
    height: 16px;
    object-fit: contain;
  }

  .domain {
    display: inline-block;
    margin-bottom: 0.75rem;
    font-size: rem(12px);
    font-weight: $font-weight-medium;
    color: $grey;
  }

  h2 {
    margin-bottom: 1.25rem;
    font-size: rem(18px);
    font-weight: $font-weight-bold;
  }

  p {
    color: $darker-grey;
  }

  ul.tags {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: block;
      margin: 0 0.5rem 0.5rem 0;
      padding: 4px 16px;
      background-color: $lightest-grey;
      border-radius: 20px;
      line-height: 1;
      font-weight: $font-weight-medium;
      font-size: rem(11px);
      color: $grey;
      transition: background-color 0.25s linear;

      &:hover {
        text-decoration: none;
        background-color: $lighter-grey;
      }
    }
  }
}
